.cabinet
  padding: 65px 0
  padding-bottom: 100px
  +r(767)
    padding-bottom: 30px
  h1
    max-width: 788px
    margin-bottom: 40px
    +r(767)
      font-size: 50px
  li
    margin-bottom: 10px
    a
      font-size: 24px
      font-weight: bold
      line-height: 1.67
      letter-spacing: 0.8px
      color: $apple
      +r(767)
        font-size: 20px
  .tabs
    width: 100%
    min-height: 440px
    display: flex
    +r(767)
      display: block
    &__caption-1
      width: 250px
      +r(767)
        margin-bottom: 50px
        width: 100%
        display: flex
        flex-direction: column
      li
        a
          position: relative
          cursor: pointer
          transition: all 0.3s
          font-size: 24px
          font-weight: 600
          font-style: italic
          line-height: 1.42
          letter-spacing: 0.8px
          border-right: 1px solid transparent
          display: block
          color: $white
          +r(767)
            font-size: 20px
            text-align: center
            border: none !important
        &.active
          a
            border-right: 1px solid $apple
            color: $apple
    &__content-1
      display: none
      width: calc(100% - 300px)
      height: 100%
      flex: 1
      margin-left: 50px
      +r(767)
        width: 100%
        margin-left: 0
      li
        display: flex
        justify-content: space-between
        font-family: 'SF Pro Text'
        font-size: 18px
        font-weight: normal
        font-style: normal
        line-height: 2.00
        color: $black
        a
          text-decoration: underline
      &.active
        display: block
      .schedule__slider
        padding-left: 100px
        width: 100%
        margin-top: 0
      .swiper-button-next
        right: -40px
      .swiper-button-prev
        display: block !important
      .history
        &__block
          display: flex
          &__select
            padding-right: 40px
            width: 100%
            &:last-child
              padding-right: 0
        .table
          margin-top: 20px
          min-width: 550px
          &__content
            overflow-x: scroll
          tr
            background: #020202
            +center
            justify-content: space-between
            height: 50px
            padding: 0px 22px
            &:nth-child(2n)
              background: #353535
          td, p
            color: $white
            font-size: 18px
            font-weight: 600
            font-style: italic
            letter-spacing: 0.8px
          p
            font-size: 12px
            font-weight: normal
            font-style: italic
            letter-spacing: 0.4px
            padding-bottom: 6px
            &:last-child
              padding-bottom: 0
      .cabinet__services
        margin-left: 30px
        +r(767)
          margin-left: 0
        h4
          font-size: 24px
          font-weight: 600
          font-style: italic
          letter-spacing: 0.8px
          text-align: left
          color: $white
          margin-bottom: 20px
        p
          font-size: 18px
          font-weight: normal
          font-style: italic
          letter-spacing: 0.8px
          color: $white
          margin-bottom: 50px
      .cabinet__block
        border-bottom: 2px solid #979797
        padding-top: 30px
        width: 100%
        &:first-child
          padding-top: 0
          +r(767)
            padding-top: 30px
            border-top: 2px solid #979797
        &:last-child
          border-bottom: none !important
        span
          font-size: 24px
          font-weight: 600
          font-style: italic
          letter-spacing: 0.8px
          color: $white
          &.gren
            color: $apple
        p
          font-size: 12px
          font-weight: 600
          font-style: italic
          color: #9b9b9b
          margin-bottom: 30px
        input
          background: none
          border: none
          font-size: 24px
          font-weight: 600
          font-style: italic
          width: 100%
          color: $white
          padding-top: 15px
          padding-bottom: 5px

