---
title: О клубе
---
extends layouts/_layout
block content
  +breadcrumbs(['FitnessCode', 'О клубе'])
  .about__intro
    .container
      .about__intro__title
        h1 О клубе
        p Наш подход в работе с клиентами и организацией  простарнства для их удобств.
      .row
        .col-sm-4.col-xs-12
          .about__intro__block
            .about__intro__block__img
              img(src="img/prime.svg", alt="")
            p Мы делаем премиальный фитнес доступным в нашем городе
        .col-sm-4.col-xs-12
          .about__intro__block
            .about__intro__block__img
              img(src="img/prime.svg", alt="")
            p Сотрудничаем только с лидерами в мировой индустрии
        .col-sm-4.col-xs-12
          .about__intro__block
            .about__intro__block__img
              img(src="img/prime.svg", alt="")
            p Выбираем качество, а не гонимся за количеством
        .col-sm-4.col-xs-12
          .about__intro__block
            .about__intro__block__img
              img(src="img/prime.svg", alt="")
            p Мы делаем премиальный фитнес доступным в нашем городе
        .col-sm-4.col-xs-12
          .about__intro__block
            .about__intro__block__img
              img(src="img/prime.svg", alt="")
            p Сотрудничаем только с лидерами в мировой индустрии
  .about__place
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Единственный во Фрязино
        .col-sm-4.col-xs-12
          span 16
          p зон спорта, релакса и красоты
        .col-sm-8.col-xs-12.start-sm.center-xs
          .about__place__video
            a(href="#")
              img(src="img/women-relaxing-in-a-salt-cave-at-a-halotherapy-354219518.png")
              i.icon.icon-play
  .about__plans
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Мы хотим
    .about__plans__block
      .row
        .col-sm-6.col-xs-12
          .about__plans__block__img.about__plans__block__img-primary
            .about__plans__block__img__content
              img(src="img/shutterstock-657941563.png", alt="")
        .col-sm-6.col-xs-12
          .about__plans__block__text
            h3 Быть <br>здоровыми
            p Проводим фитнес-тестирование для всех членов клуба перед началом тренировок. После комплексного обследования технолог рассказывает, сколько процентов массы тела приходится на скелет, какое в организме количество виды и жира, соотношение мышечной массы. Чтобы составить индивидуальную программу тренировок, наши медики исследуют работу сердца, щитовидной железы, нервной системы, узнают про хронические заболевания и аллергические реакции. Фраза «оздоровление нации» тоже казалась нам избитой, пока мы не начали заниматься этим профессионально.
    .about__plans__block
      .row
        .col-sm-6.col-xs-12.first-sm
          .about__plans__block__text.about__plans__block__text-secondary
            h3 Получать <br>лучшее
            p Мы два месяца потратили на выбор фарфора для фитнес-бара и сортов кофе. Перед тем, как заказать гамаки для эйр-йоги мы выясняли все о материалах из которых они сделаны и долго определялись с цветовой палитрой. Мы думали заказать оборудование у итальянских или российских компаний, которые поставляют тренажеры в английские клубы. В итоге мы вели долгие переговоры с производителями в Чикаго, которые никому не продают франшизу. Внимание к деталям — основной критерий, когда делаешь во Фрязино первый фитнес-клуб премиум-сегмента.
        .col-sm-6.col-xs-12.first-xs
          .about__plans__block__img.about__plans__block__img-secondary
            .about__plans__block__img__content
              img(src="img/shutterstock-657941563.png", alt="")
    .about__plans__block
      .row
        .col-sm-6.col-xs-12
          .about__plans__block__img.about__plans__block__img-primary
            .about__plans__block__img__content
              img(src="img/shutterstock-657941563.png", alt="")
        .col-sm-6.col-xs-12
          .about__plans__block__text
            h3 Получать <br>лучшее
            p Мы два месяца потратили на выбор фарфора для фитнес-бара и сортов кофе. Перед тем, как заказать гамаки для эйр-йоги мы выясняли все о материалах из которых они сделаны и долго определялись с цветовой палитрой. Мы думали заказать оборудование у итальянских или российских компаний, которые поставляют тренажеры в английские клубы. В итоге мы вели долгие переговоры с производителями в Чикаго, которые никому не продают франшизу. Внимание к деталям — основной критерий, когда делаешь во Фрязино первый фитнес-клуб премиум-сегмента.
    .about__plans__block
      .row
        .col-sm-6.col-xs-12.first-sm
          .about__plans__block__text.about__plans__block__text-secondary
            h3 Опережать <br>технологии
            p Мы нарушили правила поступательного развития фитнес-индустрии и перескочили стандартные этапы. В городе еще не было современного сайклинга, а мы заказали сразу систему велотренажеров «real rider». Эта разработка появилась на рынке в 2018 году. 3D - тренировка у нас происходит в воздухе, а состояние организма членов клуба одновременно контролируют медики и новейшие компьютеры. В зоне отдыха лежат каталоги с последними разработками в сфере фитнеса, их же можно увидеть в наших спортивных залах.
        .col-sm-6.col-xs-12.first-xs
          .about__plans__block__img.about__plans__block__img-secondary
            .about__plans__block__img__content
              img(src="img/shutterstock-657941563.png", alt="")
  .about__shares
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Акции
    .about__shares__content
      .about__shares__block(style="background-image: url(img/press-zone/fitness1.png)")
        a(href="#") -10% на сезонный абонемент «ЛЕТО»
      .about__shares__block(style="background-image: url(img/press-zone/fitness2.png)")
        a(href="#") Ready. Steady. Fall!
      .about__shares__block(style="background-image: url(img/press-zone/friend3.png)")
        a(href="#") Приведи друга
  include ./home/team
  include ./home/code
  include ./partials/_pop-up