---
title: Статьи
---
extends layouts/_layout
block content
  +breadcrumbs(['FitnessCode', 'Пресс-зона', 'Статьи', 'Почувствуй себя на коне'])
  .article__intro
    .container
      .article__intro__block
        .article__intro__title
          span 05/06/18
          h1 Почувствуй себя на коне
  .article__content
    .article__text
      .container
        .row
          .col-xs-12
            p Олег Вингорадов из FitnessCode – обладатель мирового рекорда по становой тяге без экипировки 355 кг в весовой категории до 100 кг. На его счету – множество титулов. К тому же у Олега медицинское образование и серьёзный опыт в реабилитации. О подготовке к соревнованиям, важности плана и правильном восстановлении – в его интервью Андрею Андрееву.
            h4 Как бороться с препятствиями
            p Любое спортивное соревнование, сделка в бизнесе или освоение нового вида рабочей деятельности – это риск. Идёт борьба, пусть не всегда с окружающими, но всегда с собой: победа или поражение. Реализация – это долгий процесс, и, положа руку на сердце, не всегда достижимый, ведь мало простого желания. Нужно иметь стратегию, пошаговый план, веру и стремление. Спортивный путь тренера FitnessCode Олега Виноградова – это история победителя на реальном примере.
            h4 Образование и достижения: 
            ul
              li медицинское средне-специальное образование  – Лечебное дело (фельдшер)
              li высшее образование –  Адаптивная физическая культура и реабилитация (реабилитолог)
              li КМС по плаванию
              li МС по пауэрлифтингу (IPF)
              li титул «ЭЛИТА России» по становой тяге
              li абсолютный чемпион Москвы по становой тяге, 2015 г.
              li абсолютный чемпион кубка Wild Athletic 2015, 2016 гг.
              li серебряный призер чемпионата мира WRPF по становой тяге 2016 г.
              li чемпион кубка мира СПР 2017 г.
              li обладатель мирового рекорда по становой тяге без экипировки 355 кг в весовой категории до 100 кг
            img(src="img/article/rectangle-7-copy-2.png" srcset="img/article/rectangle-7-copy-2@2x.png 2x, img/article/rectangle-7-copy-2@3x.png 3x", alt="")
            h4 Первая мотивация
            p В тренажерный зал я пришел в 18 лет, как и все парни, хотел накачать огромный бицепс, прибавить в весе. Но иметь красивую фигуру хотят все, а правильно работать может далеко не каждый. Я занимался самодеятельностью, пока ко мне ни подошел тренер и предложил попробовать заняться пауэрлифтингом. Видимо, заметил во мне силача, так я и втянулся. Заниматься с тренером – самый правильный шаг для всех, кто пришёл в фитнес. До тренажёрного зала я занимался плаванием, которое дало мне хорошую базу для освоения силовых видов спорта. <br><br>В моем родном городе, Ульяновске, очень сильная школа пауэрлифтинга и попасть на пьедестал по итогу соревнований дорогого стоит. Большая конкуренция, сильные ребята, но я справился, ведь поставил себе большую цель – быть победителем во всем и до сих пор побеждаю!
            h4 Команда
            p Самым запоминающимся выступлением для меня пока остается выполнение норматива мастера спорта России (ФПР). Проходило соревнование в республике Башкортостан в городе Салават Юлаев. Я тогда отравился, и, если бы не моя команда, то ничего бы не вышло. Да, в тройку победителей я тогда не попал, но норматив МС выполнил. Иметь команду единомышленников – очень важно. Там я почувствовал поддержку и понял, что даже в самой плохой ситуации нужно бороться и стремиться к победе. В любом случае, это подготовило меня к другим соревнованиям.
            h4 Подход к подготовке
            p План должен быть серьёзно продуман до мелочей, пошаговый, особенно, если ты поставил себе цель забрать первое место. За 2 месяца до соревнований я перехожу на три тренировочных дня в неделю, планирую каждую тренировку, прогрессирую в весах, нагрузке интенсивности. Несмотря на большую затрату сил, такой график позволяет мне восстанавливаться между тренировками. Пауэрлифтинг дело – тяжёлое в прямом смысле этого слова: я поднимаю по 350 кг, поэтому диет не придерживаюсь, в весовую категорию вхожу с запасом.
            img(src="img/article/rectangle-7-copy-2.png" srcset="img/article/rectangle-7-copy-2@2x.png 2x, img/article/rectangle-7-copy-2@3x.png 3x", alt="")
            h4 Мировой масштаб
            p В планах – основательно и надолго закрепиться в топе сильнейших атлетов страны, а там и до мира недалеко. Амбиции есть, и это хорошо. Главное в моем деле – грамотно выстроенные тренировки, восстановление и постоянство, ведь это чистой воды математика: все должно быть детально рассчитано и просчитано до килограмма. В тренерской деятельности хотелось бы реализовать в своих подопечных то, что не получилось у меня. Но главное, конечно, привести человека к важной для него цели.
            h4 Страхи
            p Перед соревнованием, конечно, страшно, но перед выходом на помост от адреналина трясет так, что для страха в голове не остаётся места, нужно быть максимально собранным и уверенным в себе, ошибкам места нет, для этого и есть тренировки. Если делаешь все правильно в тренировочном процессе и выкладываешься на 100%, то и в ответственный момент тело не подведёт.
            h4 Восстановление
            p У меня 2 образования (среднее – лечебное дело, высшее – адаптивная физическая культура и реабилитация). Я всегда занимался спортом, и мой выбор образования пал на медицину и восстановление после травм и операций. Всегда стараюсь полностью восстанавливаться, избегая перетренированности. Применяю сопутствующие тренировки по улучшению мобильности суставов и гибкости тела. Заботясь о своих подопечных, обязательно включая в их тренировочный план такие занятия, даже если мы не занимаемся пауэрлифтингом. Хорошее самочувствие человека – не менее важный фактор или цель, чем победа.
            h4 Совет из личного опыта
            p Начинающим пауэрлифтерам советую учиться на чужих ошибках. Если у вас есть вопросы, не стесняйтесь их задавать более опытным товарищам. Поверьте, если слушать своего тренера, результат будет и будет качественным. Спорт у нас травмоопасный, поэтому даже опытным атлетам советую не забывать про профилактику травм – стретчинг, кардио и сон.
            h4 Лето близко
            p Чем ближе пляжный сезон, тем чаще люди спрашивают о правильной к нему подготовке. Звучит всё просто: начинайте усиленно тренироваться прямо сейчас, меняйте привычки в питании, прогрессируйте в весах и придерживайтесь стабильности в тренировочном процессе. Ступив на этот путь, нам важно твердо ему следовать: уделяйте внимание не столько мощности нагрузки, сколько ее регулярности. Желаю удачи!
            .article__social
              span Поделиться:
              a(href="#")
                i.icon.icon-vk
              a(href="#")
                i.icon.icon-fb
              a(href="#")
                i.icon.icon-ok
  .article__others
    .row
      .col-xs-12
        .container
          .heading.heading-secondary
            h2 Другие статьи
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              span 05/06
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              span 05/06
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
