---
title: Статьи
---
extends layouts/_layout
block content
  +breadcrumbs(['FitnessCode', 'Пресс-зона', 'Статьи'])
  .articles-list
    .container
      .row
        .col-xs-12
          h1 Статьи
        .col-xs-12
          .articles-list__filter
            a(href="#").active Все
            a(href="#") Спорт
            a(href="#") Здоровье
            a(href="#") Релакс
            a(href="#") Соревнования
            a(href="#") Партнеры
            a(href="#") Технологии
    .row
      .col-xs-12
        .block-article.block-article-secondary
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              span 05/06
              h4 
                a(href="#") Почувствуй себя на коне
              p Велотренажёры RealRyder — это последние разработки в сфере сайклинга. Подвижная усиленная рама позволяет максимально точно передать условия заезда в реальных условиях.
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              span 05/06
              h4 
                a(href="#") Релакс и восстановление в соляной пещере
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              span 05/06
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              span 05/06
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              span 05/06
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
