---
title: Кабинет
---
extends layouts/_layout
block content
  .cabinet__intro
    .container
      .cabinet__intro__title
        h1 Личный кабинет
        ul
          li
            a(href="#") Личные данные
          li
            a(href="#") Пакет услуг
          li
            a(href="#") История посещений
          li
            a(href="#") Бронирование занятий
  .cabinet__content
    .container
      .cabinet__content__block
        h2 Личный кабинет
        .tabs
          ul.tabs__caption-1
            li.active Личные данные
            li Членства, пакеты услуг
            li История посещений
            li Бронирование заданий
            li Магазин
          .tabs__content-1.active
            ul
              li 
                p Фамилия:
                p 
              li
                p Имя:
                p 
              li 
                p Отчество:
                p 
              li 
                p Пол:
                p
              li
                p Дата рождения:
                p 
              li
                p Телефон:
                p 
              li
                p Телефон доп.:
                p 
              li
                p E-Mail:
                p 
              li 
                p Автомобили:
                p 
              li
                p Остаток на ЛС:
                p 0.0 руб. 
                  a(href="#") пополнить
          .tabs__content-1
            ul
              li 
                p Фамилия:
                p 
              li
                p Имя:
                p 
              li 
                p Отчество:
                p 
              li 
                p Пол:
                p
              li
                p Дата рождения:
                p 
              li
                p Телефон:
                p 
              li
                p Телефон доп.:
                p 
              li
                p E-Mail:
                p 
              li 
                p Автомобили:
                p 
              li
                p Остаток на ЛС:
                p 0.0 руб. 
                  a(href="#") пополнить
          .tabs__content-1
            ul
              li 
                p Фамилия:
                p 
              li
                p Имя:
                p 
              li 
                p Отчество:
                p 
              li 
                p Пол:
                p
              li
                p Дата рождения:
                p 
              li
                p Телефон:
                p 
              li
                p Телефон доп.:
                p 
              li
                p E-Mail:
                p 
              li 
                p Автомобили:
                p 
              li
                p Остаток на ЛС:
                p 0.0 руб. 
                  a(href="#") пополнить
          .tabs__content-1
            ul
              li 
                p Фамилия:
                p 
              li
                p Имя:
                p 
              li 
                p Отчество:
                p 
              li 
                p Пол:
                p
              li
                p Дата рождения:
                p 
              li
                p Телефон:
                p 
              li
                p Телефон доп.:
                p 
              li
                p E-Mail:
                p 
              li 
                p Автомобили:
                p 
              li
                p Остаток на ЛС:
                p 0.0 руб. 
                  a(href="#") пополнить
          .tabs__content-1
            ul
              li 
                p Фамилия:
                p 
              li
                p Имя:
                p 
              li 
                p Отчество:
                p 
              li 
                p Пол:
                p
              li
                p Дата рождения:
                p 
              li
                p Телефон:
                p 
              li
                p Телефон доп.:
                p 
              li
                p E-Mail:
                p 
              li 
                p Автомобили:
                p 
              li
                p Остаток на ЛС:
                p 0.0 руб. 
                  a(href="#") пополнить
  include ./partials/_pop-up