---
title: Клубне карты
codeClass: code-club
---
extends layouts/_layout
block content
  +breadcrumbs(['FitnessCode', 'Клубные карты'])
  section.club-cards
    .container
      h1 Клубные карты
      p Индивидуальная карта для доступа к спорту, здоровью и релаксу.
    .scene-7.scene-card(data-invert-x="false" data-invert-y="false")
      div(data-depth="0.2")
        img(src="img/bitmap.png", alt="")
  include ./home/code
  include ./partials/_pop-up