---
title: Клубне карты
codeClass: code-club
---
extends layouts/_layout
block content
  +breadcrumbs(['FitnessCode', 'Клубные карты'])
  section.club-cards
    .container
      h1 Клубные карты
      p Индивидуальная карта для доступа к спорту, здоровью и релаксу.
  include ./home/code
  include ./partials/_pop-up