---
title: Все страницы
---
extends layouts/_layout
block content
  .pages
    ul
      li
        a(href="index.html") Главная страница
      li
        a(href="article.html") Статья
      li
        a(href="articles-list.html") Список статей
      li
        a(href="services.html") Услуги
      li
        a(href="boxing-studio.html") Услуга 1 вид
      li
        a(href="services-card.html") Услуга 2 вид
      li
        a(href="card.html") Получить карту
      li
        a(href="club-cards.html") Клубные карты
      li
        a(href="club-tour.html") Тур по клубу
      li
        a(href="press-zone.html") Пресс-зона
      li
        a(href="schedule.html") Календарь
      li
        a(href="team.html") Команда
      li
        a(href="cabinet.html") Кабинет
      li
        a(href="contacts.html") Контакты
      li
        a(href="about.html") О нас