---
title: Услуги
services: team--services-card
---
extends layouts/_layout
block content
  +breadcrumbs(['FitnessCode', 'Услуги', 'Соляная комната'])
  .saline-room
    .saline-room__content
      .container
        .saline-room__title
          h1 Соляная комната
          p Микроклимат, созданный внутри, позволяет укрепить иммунитет и наполнить организм недостающими ферментами
        .row
          .col-sm-4.col-xs-12
            .saline-room__block
              .saline-room__block__img
                img(src="img/micro.svg", alt="")
              p Улучшает гормональный фон
          .col-sm-4.col-xs-12
            .saline-room__block
              .saline-room__block__img
                img(src="img/imun.svg", alt="")
              p Укрепляет иммунитет
          .col-sm-4.col-xs-12
            .saline-room__block
              .saline-room__block__img
                img(src="img/wind.svg", alt="")
              p Создаёт эффект морского бриза
    .saline-room__gallery
      .container
        .owl-carousel.owl-theme.owl-gallery
          a(data-fancybox="gallery" href="img/shutterstock-657941563.png").item
            img(src="img/shutterstock-657941563.png", alt="")
          a(data-fancybox="gallery" href="https://source.unsplash.com/RF5sv5dv1Zc/240x160").item
            img(src="https://source.unsplash.com/RF5sv5dv1Zc/240x160", alt="")
          a(data-fancybox="gallery" href="img/micro.svg").item
            img(src="img/micro.svg", alt="")
          a(data-fancybox="gallery" href="img/shutterstock-657941563.png").item
            img(src="img/shutterstock-657941563.png", alt="")
          a(data-fancybox="gallery" href="img/shutterstock-657941563.png").item
            img(src="img/shutterstock-657941563.png", alt="")
          a(data-fancybox="gallery" href="https://source.unsplash.com/RF5sv5dv1Zc/240x160").item
            img(src="https://source.unsplash.com/RF5sv5dv1Zc/240x160", alt="")
          a(data-fancybox="gallery" href="img/micro.svg").item
            img(src="img/micro.svg", alt="")
          a(data-fancybox="gallery" href="img/shutterstock-657941563.png").item
            img(src="img/shutterstock-657941563.png", alt="")
          a(data-fancybox="gallery" href="img/shutterstock-657941563.png").item
            img(src="img/shutterstock-657941563.png", alt="")
          a(data-fancybox="gallery" href="https://source.unsplash.com/RF5sv5dv1Zc/240x160").item
            img(src="https://source.unsplash.com/RF5sv5dv1Zc/240x160", alt="")
          a(data-fancybox="gallery" href="img/micro.svg").item
            img(src="img/micro.svg", alt="")
          a(data-fancybox="gallery" href="img/shutterstock-657941563.png").item
            img(src="img/shutterstock-657941563.png", alt="")
  .feel
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Ощути бриз
        .col-sm-4.col-xs-12
          p Сочетание морского бриза, современной электроники и природных <br>материалов
        .col-sm-8.col-xs-12.start-sm.center-xs
          .feel__video
            a(href="#video" rel="modal:open")
              img(src="img/women-relaxing-in-a-salt-cave-at-a-halotherapy-354219518.png")
              i.icon.icon-play
  .features
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Особенности
    .features__block
      .row
        .col-sm-6.col-xs-12.fadeInLeft.wow
          .features__block__img.features__block__img-primary
            .features__block__img__content
              img(src="img/shutterstock-657941563.png", alt="")
        .col-sm-6.col-xs-12
          .features__block__text
            h3.fadeInRight.wow(data-wow-delay='0.7s') Улучшает гормональный фон
            p.fadeInRight.wow(data-wow-delay='1.1s') Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
    .features__block
      .row
        .col-sm-6.col-xs-12.first-sm
          .features__block__text.features__block__text-secondary
            h3.fadeInLeft.wow(data-wow-delay='0.7s') Укрепляет <br>иммунитет
            p.fadeInLeft.wow(data-wow-delay='1.1s') Рекомендуется тем, у кого диагностированы хронические ларингиты, ангина, бронхиальная астма, проблемы с щитовидной железой
        .col-sm-6.col-xs-12.first-xs.fadeInRight.wow
          .features__block__img.features__block__img-secondary
            .features__block__img__content
              img(src="img/shutterstock-657941563.png", alt="")
    .features__block
      .row
        .col-sm-6.col-xs-12.fadeInLeft.wow
          .features__block__img.features__block__img-primary
            .features__block__img__content
              img(src="img/shutterstock-657941563.png", alt="")
        .col-sm-6.col-xs-12
          .features__block__text
            h3.fadeInRight.wow(data-wow-delay='0.7s') Создаёт эффект морского бриза
            p.fadeInRight.wow(data-wow-delay='1.1s') Сочетание морского бриза, современной электроники и природных материалов
  include ./home/team
  include ./home/code
  include ./partials/_pop-up