---
title: Услуги
---
extends layouts/_layout
block content
  .services-intro
    .container
      .row
        .col-xs-12
          h1 Услуги
          p Три направления нашего клуба на полное раскрытие кода вашей личности
          .services-intro__nav.nav
            a(href="#sport") Спорт
            a(href="#health") Здоровье
            a(href="#beauty") Красота
  .sport#sport
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Спорт
            p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
    .row
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
  .health#health
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Здоровье
            p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
    .row
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
  .beauty#beauty
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Красота
            p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
    .row
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-right
          .block-article__content(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
      .col-sm-6.col-xs-12
        .block-article.block-article-left
          .block-article__content(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
              p Посещение соляной пещеры позволяет восполнить недостаток микроэлементов в организме, который возникает у жителей средней полосы
  include ./partials/_pop-up