---
title: Услуги
blockArticle: services-block
---
extends layouts/_layout
block content
  +breadcrumbs(['FitnessCode', 'Услуги'])
  .services-intro
    .container
      .row
        .col-xs-12
          h1 Услуги
          p Три направления нашего клуба на полное раскрытие кода вашей личности
          .services-intro__nav.nav
            a(href="#sport") 
              i.icon.icon-prime-wt
              p Фитнес-зоны
            a(href="#health")
              i.icon.icon-prime-wt
              p Занятия
            a(href="#beauty")
              i.icon.icon-prime-wt
              p Красота и здоровье
            a(href="#facilities")
              i.icon.icon-prime-wt
              p Удобства
  .sport#sport
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Фитнес-зоны
            p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
    .row(class=blockArticle)
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            a(href="#").btn.btn-primary ekofmveove
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
  .health#health
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Занятия
            p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
    .row
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
  .beauty#beauty
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Красота и здоровье
            p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
    .row
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
  .facilities#facilities
    .container
      .row
        .col-xs-12
          .heading.heading-secondary
            h2 Удобства
            p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
    .row
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInRight.wow
        .block-article.block-article-right
          .block-article__content
            p.bg(style="background-image: url(img/services/bg-sport.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
      .col-sm-6.col-xs-12.fadeInLeft.wow
        .block-article.block-article-left
          .block-article__content
            p.bg(style="background-image: url(img/services/salt-room-applying-salt-therapy-in-the-spa-607780880.png)")
            .block-article__title
              h4 
                a(href="#") Бассейн и полный цикл аквааэробики
  include ./partials/_pop-up