---
title: Клубне карты
codeClass: code-club
---
extends layouts/_layout
block content
  .team-page
    .container
      .row
        .col-xs-12.center-xs
          h1 Тренерский состав
        .col-xs-12
          .swiper
            .swiper-container.swiper-team-page
              .swiper-wrapper
                .swiper-slide
                  a(href="#pop-up-trainer-1" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Арам Агаян
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-2" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Антон Гавриленко
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-3" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Дмитрий Столбов
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-4" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Ирина Карпова
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-5" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Юрий Князев
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-6" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Алексей Коршиков
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-7" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Сергей Хаблиев
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-8" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Юлия Аникина
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-9" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Нина Бройтман
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-10" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Наталья Глебова
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-11" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Елена Дзилиева
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-12" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Ольга Некрасова
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-13" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Екатерина Саложенкова
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-14" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Руслана Филатова
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-15" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Инна Лягушева
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                .swiper-slide
                  a(href="#pop-up-trainer-16" rel="modal:open").team-page__block
                    .team-page__block__img
                      img(src="img/trener.png", alt="")
                    .team-page__block__text
                      h3 Мила Иванова
                        span Персональный тренер
                      p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
        .col-xs-12
          .team-page__filter
            ul
              li.active 
                a(href="#") Все
              li
                a(href="#") ЭйрЙога
              li
                a(href="#") Танцевальный зал
              li
                a(href="#") боевые искусства
              li
                a(href="#") Тренажерный зал
              li
                a(href="#") Пилатес
              li
                a(href="#") Кроссфит
              li
                a(href="#") Велостудия
              li
                a(href="#") Стрейч зал
              li
                a(href="#") Кардио зона
              li
                a(href="#") Бассейн
      .row
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-1" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Арам Агаян
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-2" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Антон Гавриленко
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-3" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Дмитрий Столбов
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-4" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Ирина Карпова
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-5" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Юрий Князев
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-6" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Алексей Коршиков
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-7" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Сергей Хаблиев
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-8" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Юлия Аникина
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-9" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Нина Бройтман
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-10" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Наталья Глебова
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-11" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Елена Дзилиева
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-12" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Ольга Некрасова
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-13" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Екатерина Саложенкова
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-14" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Руслана Филатова
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-15" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Инна Лягушева
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
        .col-sm-4.col-xs-12
          .team__block.team-page__block
            a(href="#pop-up-trainer-16" rel="modal:open")
              .team__block__img
                img(src="img/trener.png", alt="")
              .team__block__text
                h3 Мила Иванова
                p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
            a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
              i Записаться
          

  include ./partials/_pop-up