@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansSemiBoldItalic.woff2') format('woff2'),
        url('../fonts/UniSansSemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Regular.woff2') format('woff2'),
        url('../fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansRegular.woff2') format('woff2'),
        url('../fonts/UniSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansRegularItalic.woff2') format('woff2'),
        url('../fonts/UniSansRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansBoldItalic.woff2') format('woff2'),
        url('../fonts/UniSansBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Bold.woff2') format('woff2'),
        url('../fonts/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

