.team-page
  &__filter
    ul
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      li
        border-radius: 10px
        border: solid 2px $apple
        margin-bottom: 20px
        a
          color: $pale-olive
          padding: 8px 12px
          display: inline-block
        &.active
          background: $apple
          a
            color: $white