footer.footer
  .container
    .row.middle-xs
      .col-sm-4.col-xs-12
        .footer__logo
          img(src="img/logo-mono-gray.svg", alt="")
      .col-sm-4.col-xs-12
        .footer__social
          a(href="#")
            i.icon.icon-vk
          a(href="#")
            i.icon.icon-fb
          a(href="#")
            i.icon.icon-instagram
          a(href="#")
            i.icon.icon-ok
          a(href="#")
            i.icon.icon-yt
      .col-sm-4.col-xs-12
        a(href="#").footer__done
          img(src="img/fill-1.svg", alt="")
    .row.middle-xs
      .col-sm-4.col-xs-12.last-xs.center-xs.start-sm.first-sm
        p 2018 © FitnessCode. Все права защищены
      .col-sm-4.col-xs-12
        a(href="#").policy Политика конфиденциальности
      .col-sm-4.col-xs-12.first-xs.last-sm.center-xs.end-sm
        a(href="#")
          p Сделано в Cтудии Бакина