footer.footer
  .footer__content
    .container-two
      .footer__top
        .footer__block
          h4 Фитнес-зоны
          ul
            li
              a(href="#") Бассейн
            li
              a(href="#") Кардиозона
            li
              a(href="#") Студия RealRyder
            li
              a(href="#") Тренажернй зал
            li
              a(href="#") Студия пилатес
            li
              a(href="#") Зал групповых и танцевальных программ
            li
              a(href="#") Студия бокса и функуиональный тренинг
            li
              a(href="#") Студия эйр-йоги
        .footer__block
          h4 Занятия
          ul
            li
              a(href="#") Танцевальные программы
            li
              a(href="#") Пилатес реформер
            li
              a(href="#") ABS+Flex
            li
              a(href="#") Зона блочных тренажеров
            li
              a(href="#") Зона свободных весов
            li
              a(href="#") Станция кроссфит
            li
              a(href="#") Зона стрейч
            li
              a(href="#") Аквааэробика
            li
              a(href="#") Аквасайклинг
            li
              a(href="#") Уроки плавания
        .footer__block
          h4 Красота и релакс
          ul
            li
              a(href="#") Солярий и коллагенарий
            li
              a(href="#") Соляная комната
            li
              a(href="#") Студия ногтевого сервиса
            li
              a(href="#") Студия моделирования тела
            li
              a(href="#") Хамам
            li
              a(href="#") Кедровая сауна
        .footer__block
          h4 Удобства
          ul
            li
              a(href="#") Кабинет фитнес-тестирования
            li
              a(href="#") Детский клуб
            li
              a(href="#") Фитобар
      .footer__bottom
        .footer__block
          h4 
            a(href="#") О клубе
          h4
            a(href="#") Тур по клубу
        .footer__block
          h4 
            a(href="#") Расписание
          h4
            a(href="#") Тренеры
        .footer__block
          h4
            a(href="#") Пресс-зона
          ul
            li
              a(href="#") Акции
            li
              a(href="#") Новости
            li
              a(href="#") Статьи
        .footer__block
          h4
            a(href="#") Контакты
          ul
            li
              a(href="tel:89067254300") 8 (906) 725-43-00
            li
              a(href="tel:84962554300") 8 (496) 255-43-00
            li
              a(href="mailto:info@fitnesscode.ru") info@fitnesscode.ru
  .container-two
    .row.middle-xs
      .col-sm-4.col-xs-12.first-sm
        .footer__logo
          img(src="img/logo-mono-gray.svg", alt="")
      .col-sm-4.col-xs-12.first-xs
        .footer__social
          a(href="#")
            i.icon.icon-vk
          a(href="#")
            i.icon.icon-fb
          a(href="#")
            i.icon.icon-instagram
          a(href="#")
            i.icon.icon-ok
          a(href="#")
            i.icon.icon-yt
      .col-sm-4.col-xs-12.last-xs.first-sm
        a(href="#").footer__done
          img(src="img/fill-1.svg", alt="")
      .col-sm-4.col-xs-12.center-xs.start-sm
        p 2018 © FitnessCode. Все права защищены
      .col-sm-4.col-xs-12.first-xs.last-sm
        a(href="#").policy Политика конфиденциальности
      .col-sm-4.col-xs-12.center-xs.end-sm.last-xs
        a(href="#")
          p Сделано в Cтудии Бакина