footer.footer
  .footer__map
    .container
      .row
        .col-md-7.col-xs-12
          .row.start-sm.center-xs
            .col-sm-6.col-xs-12
              h4
                a(href="#") Спорт
              ul
                li
                  a(href="#") Бассейн
                li
                  a(href="#") Аквасайклинг
                li
                  a(href="#") Студия RealRyder
                li
                  a(href="#") Зал блочных тренажеров
                li
                  a(href="#") Зона свободных весов
                li
                  a(href="#") Станция кросс-фит
                li
                  a(href="#") Зона ABS+Flex
                li
                  a(href="#") Зал групповых программ
                li
                  a(href="#") Зал боевых искусств
                li
                  a(href="#") Функциональный тренинг
                li
                  a(href="#") Студия эйр-йоги
            .col-sm-6.col-xs-12
              h4 
                a(href="#") Здоровье
              ul
                li
                  a(href="#") Студия пилатес реформер
                li
                  a(href="#") Фитнес-тестирование
                li
                  a(href="#") Соляная комната
                li
                  a(href="#") Коллагенарий
                li
                  a(href="#") Хамам и кедровые сауны
              h4
                a(href="#") Красота
              ul
                li
                  a(href="#") Ногтевой сервис
                li
                  a(href="#") Солярий
                li
                  a(href="#") Спа-зона
        .col-md-5.col-xs-12
          .row.start-sm.center-xs
            .col-sm-6.col-xs-12
              h4
                a(href="#") О клубе
              h4
                a(href="#") Тур по клубу
              h4
                a(href="#") Тренеры
              h4
                a(href="#") Расписание
              h4
                a(href="#") Пресс-зона
              ul
                li
                  a(href="#") Акции
                li
                  a(href="#") Новости
                li
                  a(href="#") Статьи
            .col-sm-6.col-xs-12
              h4
                a(href="#") Контакты
              ul
                li
                  a(href="tel:89067254300") 8 (906) 725-43-00
                li
                  a(href="tel:84962554300") 8 (496) 255-43-00
                li
                  a(href="mailto:info@fitnesscode.ru") info@fitnesscode.ru
                li
                  a(href="#").map-site__map Карта сайта
  .container
    .row.middle-xs
      .col-sm-4.col-xs-12.first-sm
        .footer__logo
          img(src="img/logo-mono-gray.svg", alt="")
      .col-sm-4.col-xs-12.first-xs
        .footer__social
          a(href="#")
            i.icon.icon-vk
          a(href="#")
            i.icon.icon-fb
          a(href="#")
            i.icon.icon-instagram
          a(href="#")
            i.icon.icon-ok
          a(href="#")
            i.icon.icon-yt
      .col-sm-4.col-xs-12.last-xs.first-sm
        a(href="#").footer__done
          img(src="img/fill-1.svg", alt="")
      .col-sm-4.col-xs-12.center-xs
        p 2018 © FitnessCode. Все права защищены
      .col-sm-4.col-xs-12.first-xs.last-sm
        a(href="#").policy Политика конфиденциальности
      .col-sm-4.col-xs-12.center-xs.end-sm.last-xs
        a(href="#")
          p Сделано в Cтудии Бакина