footer.footer
  .container
    .row.middle-xs
      .col-xs-4
        .footer__logo
          img(src="img/logo-mono-gray.svg", alt="")
      .col-xs-4
        .footer__social
          a(href="#")
            i.icon.icon-vk-copy
          a(href="#")
            i.icon.icon-fb-copy
          a(href="#")
            i.icon.icon-instagram-copy-2
          a(href="#")
            i.icon.icon-ok-copy
          a(href="#")
            i.icon.icon-youtube-copy
      .col-xs-4
        a(href="#").footer__done
          img(src="img/fill-1.svg", alt="")
      .col-xs-4
        p 2018 © FitnessCode. Все права защищены
      .col-xs-4
        a(href="#").policy Политика конфиденциальности
      .col-xs-4.end-xs
        a(href="#")
          p Сделано в Cтудии Бакина