//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-sm-4
        .header__block
          a(href="#").menu-open
            span
          .header__services
            p Услуги
              i.icon.icon-invalid-name
            .header__services__option
              .container
                .header__services__option__block
                  h4 Фитнес-зоны
                  ul
                    li.active
                      a(href="#") Бассейн
                    li
                      a(href="#") Кардиозона
                    li
                      a(href="#") Студия RealRyder
                    li
                      a(href="#") Тренажернй зал
                    li
                      a(href="#") Студия пилатес
                    li
                      a(href="#") Зал групповых и танцевальных программ
                    li
                      a(href="#") Студия бокса и функуиональный тренинг
                    li
                      a(href="#") Студия эйр-йоги
                .header__services__option__block
                  h4 Занятия
                  ul
                    li.active
                      a(href="#") Танцевальные программы
                    li
                      a(href="#") Пилатес реформер
                    li
                      a(href="#") ABS+Flex
                    li
                      a(href="#") Зона блочных тренажеров
                    li
                      a(href="#") Зона свободных весов
                    li
                      a(href="#") Станция кроссфит
                    li
                      a(href="#") Зона стрейч
                    li
                      a(href="#") Аквааэробика
                    li
                      a(href="#") Аквасайклинг
                    li
                      a(href="#") Уроки плавания
                .header__services__option__block
                  h4 Красота и релакс
                  ul
                    li.active
                      a(href="#") Солярий и коллагенарий
                    li
                      a(href="#") Соляная комната
                    li
                      a(href="#") Студия ногтевого сервиса
                    li
                      a(href="#") Студия моделирования тела
                    li
                      a(href="#") Хамам
                    li
                      a(href="#") Кедровая сауна
                .header__services__option__block
                  h4 Удобства
                  ul
                    li.active
                      a(href="#") Кабинет фитнес-тестирования
                    li
                      a(href="#") Детский клуб
                    li
                      a(href="#") Фитобар
            a(href="#") Клубные карты
      .col-sm-4.col-xs-12.center-xs
        .header__logo
          a(href="index.html")
            img(src="img/logo.svg", alt="")
      .col-sm-4.end-xs
        .header__user
          ul
            li
              a(href="#") О клубе
            li
              a(href="#") Контакты
            li
              a(href="#") Личный кабинет
                i.icon.icon-person
//END header
