.menu
  .menu__content
    .menu__top
      .menu__block
        h4 Фитнес-зоны
        ul
          li
            a(href="#") Бассейн
          li
            a(href="#") Кардиозона
          li
            a(href="#") Студия RealRyder
          li
            a(href="#") Тренажернй зал
          li
            a(href="#") Студия пилатес
          li
            a(href="#") Зал групповых и танцевальных программ
          li
            a(href="#") Студия бокса и функуиональный тренинг
          li
            a(href="#") Студия эйр-йоги
      .menu__block
        h4 Занятия
        ul
          li
            a(href="#") Танцевальные программы
          li
            a(href="#") Пилатес реформер
          li
            a(href="#") ABS+Flex
          li
            a(href="#") Зона блочных тренажеров
          li
            a(href="#") Зона свободных весов
          li
            a(href="#") Станция кроссфит
          li
            a(href="#") Зона стрейч
          li
            a(href="#") Аквааэробика
          li
            a(href="#") Аквасайклинг
          li
            a(href="#") Уроки плавания
      .menu__block
        h4 Красота и релакс
        ul
          li
            a(href="#") Солярий и коллагенарий
          li
            a(href="#") Соляная комната
          li
            a(href="#") Студия ногтевого сервиса
          li
            a(href="#") Студия моделирования тела
          li
            a(href="#") Хамам
          li
            a(href="#") Кедровая сауна
      .menu__block
        h4 Удобства
        ul
          li
            a(href="#") Кабинет фитнес-тестирования
          li
            a(href="#") Детский клуб
          li
            a(href="#") Фитобар
    .menu__bottom
      .menu__block
        h4 
          a(href="#") О клубе
        h4
          a(href="#") Тур по клубу
      .menu__block
        h4 
          a(href="#") Расписание
        h4
          a(href="#") Тренеры
      .menu__block
        h4
          a(href="#") Пресс-зона
        ul
          li
            a(href="#") Акции
          li
            a(href="#") Новости
          li
            a(href="#") Статьи
      .menu__block
        h4
          a(href="#") Контакты
        ul
          li
            a(href="tel:89067254300") 8 (906) 725-43-00
          li
            a(href="tel:84962554300") 8 (496) 255-43-00
          li
            a(href="mailto:info@fitnesscode.ru") info@fitnesscode.ru
.pop-up.modal#pop-up
  a(href="#" rel="modal:close").close
    span
  .pop-up__content
    h3 Получи свой код доступа
    form.form
      input(type="text" placeholder="Имя")
      input(type="tel" placeholder="Телефон")
      input(type="submit" value="Получить код").btn.btn-primary
      .form__checkbox
        input(type="checkbox" id="checkbox-1" checked)
        label(for="checkbox-1") Нажимая кнопку, Вы подтверждаете, что ознакомлены и согласны с 
          a(href="#") Соглашением о конфиденциальности персональной информации

.pop-up.modal#pop-up-trainer
  a(href="#" rel="modal:close").close
    span
  .pop-up__content
    h3 Записаться к тренеру
    form.form
      input(type="text" placeholder="Имя")
      input(type="tel" placeholder="Телефон")
      input(type="submit" value="Получить код").btn.btn-primary
      .form__checkbox
        input(type="checkbox" id="checkbox" checked)
        label(for="checkbox") Нажимая кнопку, Вы подтверждаете, что ознакомлены и согласны с 
          a(href="#") Соглашением о конфиденциальности персональной информации

.modal.trainer#pop-up-trainer-1
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Арам Агаян
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Финалист всероссийского турнира по бодибилдингу в категории «Men's Physique & Bikini Star». Призер чемпионата России.
        .trainer__info
          ul
            li Составляет индивидуальные программы питания и тренировок
            li Помогает сбросить жир и набрать мышечную массу
            li Знает особенности лечебной физкультуры и реабилитации.
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться

.modal.trainer#pop-up-trainer-2
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Антон Гавриленко
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Кандидат в мастера спорта по безэкипировочному пауэрлифтингу по версии AWPC. Неоднократный призёр соревнований Москвы и Московской области по пауэрлифтингу и бодибилдингу.
        .trainer__info
          ul
            li Снижении веса
            li Набор мышечной массы
            li Улучшение силовых показателей
            li Особенностях тренировки детей и подростков
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться


.modal.trainer#pop-up-trainer-3
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Дмитрий Столбов
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Школа Glucker Schule в Штутгарте, участник всероссийских и европейских съездов специалистов спортивной-оздоровительной индустрии спорта. Мастер спорта по паурлифтингу и боксу. Финалист всероссийских соревнований по бодифитнесу «Золотое Кольцо России». Чемпион Москвы 2002 и 2003 годов по смешанным единоборствам Mix Fight MMA.
        .trainer__info
          ul
            li Силовой тренинг
            li Смешанные единоборства
            li Составляет индивидуальные программы по коррекции фигуры
            li Занимается профилактикой заболеваний опорно-двигательного аппарата
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться



.modal.trainer#pop-up-trainer-4
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Ирина Карпова
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Член Ассоциации Профессионалов Фитнеса FPA. Мастер Спорта по безэкипировочному пауэрлифтингу по версии AWPC. Победитель соревнований России, Москвы и Московской области по пауэрлифтингу федерации WPC/AWPC.
        .trainer__info
          ul
            li Силовой тренинг
            li Набор мышечной массы
            li Тренировки беременных
            li Диетология
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться


.modal.trainer#pop-up-trainer-5
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Юрий Князев
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Мастер спорта по спортивному двоеборью и жиму штанги лежа, победитель национального турнира 2010 года по пауэрлифтингу, чемпион мира 2017 года по жиму штанги лежа
        .trainer__info
          ul
            li Тренировки со свободным весом
            li Эксперт по жиму штанги и пауэрлифтингу
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться


.modal.trainer#pop-up-trainer-6
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Алексей Коршиков
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p выпускник лицея «Ученый фитнес», имеет первый разряд по жиму штанги лежа мастерского турнира «Русская тройка»
        .trainer__info
          ul
            li Коррекция осанки
            li Увеличением гибкости
            li Специализируется на особенностях женского тренинга
            li Владеет техникой мышечного тестирования
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться



.modal.trainer#pop-up-trainer-7
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Сергей Хаблиев
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p член Ассоциации профессионалов фитнеса, акробат в Цирке Никулина на Цветном бульваре.
        .trainer__info
          ul
            li Силовые направления фитнеса
            li Вольная борьба
            li Конная акробатика
            li Кавказские танцы
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться



.modal.trainer#pop-up-trainer-8
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Юлия Аникина
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Академия фитнес-инструкторов Wellness, мастер-классы ведущих преподавателей
        .trainer__info
          ul
            li Фитнес-йога
            li Стрейчинг
            li Стрип-пластика
            li Pole dance
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться




.modal.trainer#pop-up-trainer-9
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Нина Бройтман
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Fitness Academy, участник семинара «Pilates for life»
        .trainer__info
          ul
            li ZUMBA Basic
            li Jazz-funk
            li Dancehall
            li Hip-Hop
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться

.modal.trainer#pop-up-trainer-10
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Наталья Глебова
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Академия фитнес-инструкторов Wellness, курс фитнес-инстуктора по аэробике, участник семинара «Pilates for life»
        .trainer__info
          ul
            li Миофасциальный релиз
            li Тренировки для беременных
            li Нутрициология в фитнесе
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться


.modal.trainer#pop-up-trainer-11
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Елена Дзилиева
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Академия фитнес-инструкторов Wellness, Международный Открытый Йога Университет, Высшая школа фитнеса и бодибилдинга, образовательный центр TopEuroFit, профессиональная программа «Приемы и методы ЛФК в реабилитации травмированных спортсменов», участник семинара «Pilates for life»
        .trainer__info
          ul
            li Специалист по хатха-йоге и янтра-йоге
            li Фитнес-тренировки при сколеозе
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться



.modal.trainer#pop-up-trainer-12
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Ольга Некрасова
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Диплом МИЭМП, Академии фитнес-инструкторов Wellness, сертифицированный тренер академии AALO в Нидерландах, участник семинара «Стретчинг в работе инструктора групповых программ», тренер академии Life Fitness
        .trainer__info
          ul
            li Специалист по тренажерному залу
            li Коррекция фигуры
            li Стретчинг
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться



.modal.trainer#pop-up-trainer-13
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Екатерина Саложенкова
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Диплом о профессиональной переподготовке «Педагогика и методика дополнительного образования детей и взрослых: хореографическое искусство», Инструктор Zumba Basic, Zumba kids, Zumba Fitness
        .trainer__info
          ul
            li Strip-dance
            li Body ballet
            li Свадебный танец
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться




.modal.trainer#pop-up-trainer-14
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Руслана Филатова
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Бакалавр по физической реабилитации, Лучший инструктор направления «Фитнес для людей старшего возраста» FITEXPO 2015, курс «персональная тренировка» в Академии фитнес-инструкторов Wellness и Ассоциацией Спортивной Аэробики России, имеет сертификаты «Anatomy Trains» UK, Polestar Pilates «Принципы движения пилатес», участница Конвенций Mind&Body, пилатес-марафонов, фитнес-конвенций
        .trainer__info
          ul
            li Фитнесе для людей старшего возраста
            li Персональные тренировки
            li Реабилитация
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться


.modal.trainer#pop-up-trainer-15
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Инна Лягушева
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p Сспециалист по адаптивной физической культуре, сертифицированный тренер школы Варвары Медведевой IRON SYSTEM, сертифицирована в Академии фитнес-инструкторов Wellness, имеет дипломы FPA и AALO
        .trainer__info
          ul
            li Эксперт по силовым тренировкам
            li Body Pump
            li Степ
            li Миофасциальный релиз
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться


.modal.trainer#pop-up-trainer-16
  a(href="#" rel="modal:close").close
    span
  .trainer__content
    .row
      .col-md-5.col-xs-12.center-xs
        .trainer__img
          img(src="http://via.placeholder.com/150x150", alt="")
        .trainer__name
          h3 Мила Иванова
          a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-6.col-xs-12.col-md-offset-1
        .trainer__honor
          p дипломированный специалист по программе «Менеджмент фитнес- индустрии», автор адаптивных семинаров по статическому тренингу и бодифлексу, член Федерации Аэробики России с 2005 года
        .trainer__info
          ul
            li Персональные и групповые тренировки
            li Хореография
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться










.modal.pop-schedule#pop-up-schedule-1
  a(href="#" rel="modal:close").close
    span
  .pop-schedule__content
    .row
      .col-md-7.col-xs-12
        .row
          .col-sm-8.col-xs-12
            .pop-schedule__title
              h3 AQUA START
              ul
                li Начало: 14:00
                li Длительность: 60 мтнут
                li Где: Бассейн
                li Мест: 10  
          .col-sm-4.col-xs-12
            .pop-schedule__conditions
              p 
                i.icon.icon-usd-wt
                | Платно
              p 
                i.icon.icon-note-wt
                | По записи
        .pop-schedule__info
          p Занятия для начинающих
          ul
            li Изучение базовых элементов аквааэробики
            li Простые комбинации
            li Низкий уровень интенсивности
        a(href="#").btn.btn-secondary.hidden-sm.hidden-xs Записаться
      .col-md-5.col-xs-12.center-xs
        .pop-schedule__img
          img(src="http://via.placeholder.com/255x255", alt="")
        .pop-schedule__name
          h4 Константинов Константин
          p Персональный тренер
      .col-xs-12.hidden-md
        a(href="#").btn.btn-secondary Записаться

.pop-video#video
  a(href="#" rel="modal:close").close
    span
  iframe(src="https://www.youtube.com/embed/5iJoCBpgT7s?ecver=2" style="position:absolute;width:100%;height:100%;left:0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)