.article
  &__intro
    height: 400px
    position: relative
    background: url('../img/article/salt-room-applying-salt-therapy-in-the-spa-607780880.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 50%
    .container
      height: 100%
    &__block
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      padding-top: 200px
    span
      font-size: 14px
      font-weight: normal
      font-style: normal
      letter-spacing: 0.5px
      color: $white
    h1
      font-size: 80px
      letter-spacing: normal
      padding-top: 15px
      +r(970)
        font-size: 50px
  &__content
    background: $white
    padding: 90px 0
    .article__text
      p, li, span
        font-family: 'SF Pro Text'
        font-size: 18px
        font-weight: normal
        font-style: normal
        line-height: 1.44
        color: $black
        padding-bottom: 70px
      span
        padding-bottom: 0
        margin-right: 15px
        padding-bottom: 15px
      li
        padding-bottom: 0
        +r(1024)
          padding-bottom: 15px
      ul
        padding-bottom: 60px
      h4
        font-size: 24px
        font-weight: 600
        font-style: italic
        line-height: 1.42
        letter-spacing: 0.8px
        color: $apple
        padding-bottom: 15px
      img
        width: 100%
        margin-bottom: 40px
  &__social
    display: flex
    padding-top: 30px
    margin-bottom: 300px
    span
      font-family: 'SF Pro Text'
      font-size: 18px
      font-weight: normal
      font-style: normal
      line-height: 1.44
      color: $charcoal
    a
      margin-right: 10px
      color: $apple
      i
        font-size: 22px
      &:last-child
        margin-right: 0  
  &__others
    padding-top: 130px
    position: relative
    &:before
      content: ''
      position: absolute
      right: 0
      top: -2px
      width: 700px
      height: 90px
      background: $white
      clip-path: polygon(0 0%, 100% 0%, 100% 100%)
      +r(767)
        display: none
    .heading
      margin-bottom: 60px