.schedule(class=calendar)
    .container
      .row
        .col-xs-12
          .schedule__title
            h1 Расписание
    .container-two
      .schedule__block
        .schedule__block-select
          select
            option(value="1") Время
            option(value="2") 8:00
            option(value="3") 10:00
            option(value="4") 17:00
        .schedule__block-select
          select
            option(value="1") Все занятия
            option(value="2") 8:00
            option(value="3") 10:00
            option(value="4") 17:00
        .schedule__block-select
          select
            option(value="1") Все тренера
            option(value="2") 8:00
            option(value="3") 10:00
            option(value="4") 17:00
        .schedule__block-select
          select
            option(value="1") Все группы
            option(value="2") 8:00
            option(value="3") 10:00
            option(value="4") 17:00
      .schedule__slider
        b 8:00
        b 10:00
        b 13:00
        b 17:00
        b 10:00
        b 13:00
        b 17:00
        b 17:00
        .container
          .swiper-container.swiper-schedule
            .swiper-wrapper
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day.active
                    p 14 июня, Четверг
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__morning.pool
                  .schedule__slider__block__text
                    h3 AQUA START
                    span Бассейн
                  .schedule__slider__icon
                    i.icon.icon-usd-wt
                    i.icon.icon-note-wt
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__dinner.cave
                  .schedule__slider__block__text
                    h3 BODYFLEX
                    span Соляная пещера
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.realryder
                  .schedule__slider__block__text
                    h3 REALRYDE
                    span Студия RealRyder
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.realryder
                  .schedule__slider__block__text
                    h3 REALRYDE
                    span Студия RealRyder
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.realryder
                  .schedule__slider__block__text
                    h3 REALRYDE
                    span Студия RealRyder
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.realryder
                  .schedule__slider__block__text
                    h3 REALRYDE
                    span Студия RealRyder
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.realryder
                  .schedule__slider__block__text
                    h3 REALRYDE
                    span Студия RealRyder
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.realryder
                  .schedule__slider__block__text
                    h3 REALRYDE
                    span Студия RealRyder
                  .schedule__slider__icon
                    i.icon.icon-note-wt
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 15 декабрь, Пятница
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__morning.pilates
                  .schedule__slider__block__text
                    h3 PILATES
                    span Студия пилатес
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#").schedule__slider__block.schedule__slider__block__dinner.none
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.pilates-2
                  .schedule__slider__block__text
                    h3 PILATES STUDIO
                    span Студия пилатес
                  .schedule__slider__icon
                    i.icon.icon-usd-wt
                    i.icon.icon-note-wt
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 16 октябрь, Суббота
                a.schedule__slider__block.schedule__slider__block__morning
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__dinner.pool-2
                  .schedule__slider__block__text
                    h3 AQUA NODELES
                    span Бассейн
                a.schedule__slider__block.schedule__slider__block__evening
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 16 октябрь, Суббота
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__morning.pool
                  .schedule__slider__block__text
                    h3 AQUA START
                    span Бассейн
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#").schedule__slider__block.schedule__slider__block__dinner.none
                a.schedule__slider__block.schedule__slider__block__evening
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 16 октябрь, Суббота
                a.schedule__slider__block.schedule__slider__block__morning
                a(href="#").schedule__slider__block.schedule__slider__block__dinner.none
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.cave
                  .schedule__slider__block__text
                    h3 BODYFLEX
                    span Соляная пещера
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 14 июня, Четверг
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__morning.pool
                  .schedule__slider__block__text
                    h3 AQUA START
                    span Бассейн
                  .schedule__slider__icon
                    i.icon.icon-usd-wt
                    i.icon.icon-note-wt
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__dinner.cave
                  .schedule__slider__block__text
                    h3 BODYFLEX
                    span Соляная пещера
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.realryder
                  .schedule__slider__block__text
                    h3 BODYFLEX
                    span Соляная пещера
                  .schedule__slider__icon
                    i.icon.icon-note-wt
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 15 декабрь, Пятница
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__morning.pilates
                  .schedule__slider__block__text
                    h3 PILATES
                    span Студия пилатес
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#").schedule__slider__block.schedule__slider__block__dinner.none
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__evening.pilates-2
                  .schedule__slider__block__text
                    h3 PILATES STUDIO
                    span Студия пилатес
                  .schedule__slider__icon
                    i.icon.icon-usd-wt
                    i.icon.icon-note-wt
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 16 октябрь, Суббота
                a.schedule__slider__block.schedule__slider__block__morning
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__dinner.pool-2
                  .schedule__slider__block__text
                    h3 AQUA NODELES
                    span Бассейн
                a.schedule__slider__block.schedule__slider__block__evening
              .swiper-slide
                .schedule_day
                  .schedule__slider__block__day
                    p 16 октябрь, Суббота
                a(href="#pop-up-schedule-1" rel="modal:open").schedule__slider__block.schedule__slider__block__morning.pool
                  .schedule__slider__block__text
                    h3 AQUA START
                    span Бассейн
                  .schedule__slider__icon
                    i.icon.icon-note-wt
                a(href="#").schedule__slider__block.schedule__slider__block__dinner.none
                a.schedule__slider__block.schedule__slider__block__evening
          .swiper-button-next.swiper-schedule-right
            i.icon.icon-left
          .swiper-button-prev.swiper-schedule-left
            i.icon.icon-left