.code
  padding-top: 90px
  padding-bottom: 110px
  +r(767)
    padding-bottom: 40px
  &__get
    img
      max-width: 445px
      width: 100%
      margin-bottom: 40px
      +r(767)
        position: relative
        left: 50%
        transform: translate(-50%)
    +r(767)
      margin-bottom: 40px
  &__info
    +r(767)
      +center
      flex-direction: column
    h4
      font-weight: 600
      line-height: 1.42
      letter-spacing: 0.8px
      color: $apple
      margin-bottom: 20px
    ul
      margin-bottom: 50px
      padding-left: 25px
      li
        font-family: 'SF Pro Text'
        font-size: 18px
        font-weight: normal
        font-style: normal
        line-height: 1.44
        color: $pale-olive
        position: relative
        &:before
          content: '\EA01'
          position: absolute
          font-size: 10px
          left: -25px
          top: 5px
          font-family: 'iconfont'
  &__social
    display: none
    margin-top: 80px
    display: none
    p
      font-size: 18px
      font-weight: normal
      font-style: normal
      line-height: 1.44
      letter-spacing: 0.6px
      color: $pale-olive
      margin-right: 50px
      +r(767)
        margin-right: 20px
        font-size: 16px
    &__link
      display: flex
      justify-content: center
      a
        margin-right: 20px
        color: $pale-olive
        i
          font-size: 23px
          +r(767)
            font-size: 20px
        &:last-child
          margin-right: 0
  &-club
    padding-bottom: 10px
    h2
      color: $apple
    .code__social
      display: flex