.space
  padding-top: 100px
  &__slider
    transform: skewX(-5deg) translate(-50%)
    background: $apple
    border-top-left-radius: 80px
    border-bottom-right-radius: 80px
    height: 700px
    width: 1300px
    position: relative
    left: 50%
    overflow: hidden
    &__content
      transform: skewX(5deg)
      display: flex
      align-items: center
      height: 100%
      position: relative
    .owl-thumbs-1
      position: absolute
      left: 140px
      top: 70px
      z-index: 4
    .owl-carousel-1
      height: 100%
      z-index: 3
      .owl-stage-outer, .owl-stage, .owl-item, .item
        width: 100%
        height: 100%
    .owl-carousel-2
      width: 100%
      height: 100%
      .item
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
    .swiper-container
      position: absolute
      bottom: 0
      z-index: 3
      height: 140px
      .swiper-slide
        .swiper-space__img
          height: 50px
          img
            height: 100%
        p
          font-family: 'SF Pro Text'
          font-size: 18px
          font-weight: normal