.space
  padding-top: 100px
  &__floor
    a
      display: block
      width: 93%
      margin: 0 auto
      height: 70px
      font-size: 24px
      font-weight: 300
      font-style: italic
      letter-spacing: 0.8px
      color: $apple
      +center
      border: 1px solid $apple
      cursor: pointer
      text-transform: uppercase
      transition: all 0.3s
      &.first
        border-top-left-radius: 20px
        border-top-right-radius: 20px
      &.last
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
    &.active
      a
        color: $white
        background: $apple
        &.last
          border-radius: 0
    &__block
      height: 330px
      position: relative
      display: none
      overflow: hidden
      &.visibility
        display: block 
  &__slider
    transform: skewX(-5deg) translate(-50%)
    border-top-left-radius: 80px
    border-bottom-right-radius: 80px
    height: 700px
    width: 102%
    position: relative
    left: 50%
    overflow: hidden
    +r(1024)
      transform: none
      left: 0
      width: 100%
    +r(767)
      border-radius: 0
      height: auto
    &__mobile
      display: none
      +r(767)
        display: block
    &__content
      transform: skewX(5deg)
      display: flex
      align-items: center
      height: 100%
      position: relative
      +r(1024)
        transform: none
      +r(767)
        display: none
    .tabs
      width: 100%
      height: 100%
      &__caption
        position: absolute
        left: 180px
        top: 70px
        z-index: 9
        +r(1024)
          left: 20px
        li
          border-radius: 20px
          border: solid 2px $white
          width: 70px
          height: 70px
          +center
          flex-direction: column
          position: relative
          margin-bottom: 20px
          cursor: pointer
          p
            font-size: 24px
            font-weight: 600
            letter-spacing: 0.8px
            color: $white
          span
            font-size: 12px
            font-weight: 600
            color: $white
            position: absolute
            bottom: 10px
            opacity: 0
            transition: all 0.3s
          &.active
            background: $apple
            border: solid 2px $apple
            span
              opacity: 1
      &__content
        display: none
        width: 100%
        height: 100%
        &.active
          display: block

    .container
      position: relative
    .swiper-space-left
      bottom: 65px
      top: auto
      left: 100px
    .swiper-space-right
      bottom: 65px
      top: auto
      transform: rotate(180deg)
      right: -100px
    .swiper-space
      position: absolute
      bottom: 25px
      right: 0
      z-index: 3
      height: 140px
      width: 700px
      +r(1024)
        margin-right: 50px
      +r(767)
        width: 88%
        margin-right: 0
        right: 50%
        transform: translate(50%, 0)
        overflow: visible
        bottom: -10px
      .swiper-slide
        background: none
        border-radius: 20px
        +r(767)
          opacity: 0.5
        &-active
          +r(767)
            opacity: 1
            p
              opacity: 1 !important
        &.active
          background: rgba($black, 0.6)
          +r(767)
            background: none
        .swiper-space__img
          height: 50px
          img
            height: 100%
        p
          font-family: 'SF Pro Text'
          font-size: 18px
          font-weight: normal
          +r(767)
            color: $white
            opacity: 0
            padding-top: 10px
    .owl-carousel-2, .owl-stage-outer, .owl-stage, .owl-item
      width: 100%
      height: 100%
      .item
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover