.target
  transform: skewX(-8deg) translate(-50%)
  background: $apple
  border-top-left-radius: 80px
  border-bottom-right-radius: 80px
  height: 630px
  width: 1300px
  position: relative
  left: 50%
  &__content
    transform: skewX(8deg)
    display: flex
    align-items: center
    height: 100%
  &__block
    &__img
      display: flex
      align-items: center
      height: 100px
      margin-bottom: 30px
    h4
      font-size: 24px
      font-weight: 600
      color: $white
      line-height: 1.42
      letter-spacing: 0.8px
      margin-bottom: 15px
    p
      font-family: 'SF Pro Text'
      font-size: 18px
      font-weight: normal
      font-style: normal
      line-height: 1.44
      color: $charcoal
      width: 255px