.team
  transform: skewX(-6deg) translate(-50%)
  background: $apple
  border-top-left-radius: 80px
  border-bottom-right-radius: 80px
  height: 1030px
  width: 105%
  position: relative
  left: 50%
  +r(1024)
    transform: none
    left: 0
    height: auto
    width: 100%
    padding: 50px 0
  &__content
    transform: skewX(6deg)
    display: flex
    align-items: center
    height: 100%
    +r(1024)
      transform: none
  .swiper
    position: relative
    &-container
      overflow: visible
      +r(1024)
        overflow: hidden
      .swiper-slide.next, .swiper-slide.prev
        opacity: 0.4
        +r(1024)
          opacity: 1
        h3, p, a.btn
          opacity: 0
          +r(1024)
            opacity: 1
        .team__block__img
          width: 150px
          height: 150px
          margin-right: -150px
          margin-top: 30px
          +r(1024)
            width: 200px
            height: 200px
            margin: 0
            margin-bottom: 30px
      .swiper-slide.next
        .team__block__img
          margin-right: 150px
    &-slide
      display: flex
      flex-direction: column
      align-items: center
  &__block
    a
      display: flex
      flex-direction: column
      align-items: center
    &__img
      overflow: hidden
      width: 200px
      height: 200px
      border-radius: 50%
      margin-bottom: 30px
      img
        width: 100%
        height: 100%
    h3
      font-size: 40px
      font-weight: bold
      font-style: italic
      line-height: 1.15
      letter-spacing: 1.3px
      color: $white
      margin-bottom: 25px
    p
      font-family: 'SF Pro Text'
      font-size: 17px
      font-weight: normal
      font-style: normal
      line-height: 1.44
      text-align: center
      color: $charcoal
      margin-bottom: 55px
      min-height: 110px
            
