.club-cards
  min-height: 700px
  display: flex
  flex-direction: column
  justify-content: center
  background: url('../img/bg-code.png') no-repeat
  background-size: cover
  background-position: 50% 50%
  position: relative
  background-attachment: fixed !important
  +r(767)
    min-height: auto
  .scene-card
    position: absolute !important
    top: 50%
    transform: translate(0, -50%) !important
    right: 10%
    z-index: 2
    +r(1024)
      right: 0px
    +r(767)
      img
        width: 240px
        height: 285px
  h1
    max-width: 415px
    position: relative
    z-index: 3
  p
    font-size: 30px
    font-weight: normal
    line-height: 1.33
    letter-spacing: 1px
    color: $white
    max-width: 540px
    margin-bottom: 200px
    position: relative
    z-index: 3
    +r(767)
      font-size: 24px