@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-checkmark: "\EA01";
$icon-copy: "\EA02";
$icon-fb: "\EA03";
$icon-instagram: "\EA04";
$icon-invalid-name: "\EA05";
$icon-left: "\EA06";
$icon-menu-open: "\EA07";
$icon-note-wt: "\EA08";
$icon-ok: "\EA09";
$icon-page-1: "\EA0A";
$icon-person: "\EA0B";
$icon-photo: "\EA0C";
$icon-plan: "\EA0D";
$icon-play: "\EA0E";
$icon-prime-wt: "\EA0F";
$icon-usd-wt: "\EA10";
$icon-vk: "\EA11";
$icon-yt: "\EA12";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-checkmark:before { content: $icon-checkmark; }
.icon-copy:before { content: $icon-copy; }
.icon-fb:before { content: $icon-fb; }
.icon-instagram:before { content: $icon-instagram; }
.icon-invalid-name:before { content: $icon-invalid-name; }
.icon-left:before { content: $icon-left; }
.icon-menu-open:before { content: $icon-menu-open; }
.icon-note-wt:before { content: $icon-note-wt; }
.icon-ok:before { content: $icon-ok; }
.icon-page-1:before { content: $icon-page-1; }
.icon-person:before { content: $icon-person; }
.icon-photo:before { content: $icon-photo; }
.icon-plan:before { content: $icon-plan; }
.icon-play:before { content: $icon-play; }
.icon-prime-wt:before { content: $icon-prime-wt; }
.icon-usd-wt:before { content: $icon-usd-wt; }
.icon-vk:before { content: $icon-vk; }
.icon-yt:before { content: $icon-yt; }
