.icon-checkmark {
  width: 1.11em;
  height: 1em;
  fill: #C0D5B3;
}
.icon-copy {
  width: 1.43em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-invalid-name {
  width: 1.43em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-left {
  width: 0.57em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-menu-open {
  width: 1.25em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-note-wt {
  width: 0.85em;
  height: 1em;
  fill: none;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-page-1 {
  width: 0.15em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-person {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-usd-wt {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-yt {
  width: 1em;
  height: 1em;
  fill: initial;
}
