.icon-checkmark {
  width: 1.11em;
  height: 1em;
  fill: #C0D5B3;
}
.icon-fb-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-instagram-copy-2 {
  width: 1em;
  height: 1em;
  fill: #C0D5B3;
}
.icon-left {
  width: 0.57em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-menu-open {
  width: 1.25em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-ok-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-page-1 {
  width: 0.15em;
  height: 1em;
  fill: #7DCC4A;
}
.icon-vk-copy {
  width: 1.62em;
  height: 1em;
  fill: initial;
}
.icon-youtube-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
