.navigation
  p FitnessCode
  ul
    li#intro-1
      a(href="#intro-1") 01
      span
    li.target-1
      a(href="#target-1") 02
      span
    li
      a(href="#") 03
      span
    li#code-1
      a(href="#code-1") 04
      span
    li.comand-1
      a(href="#comand-1") 05
      span
  i.icon.icon-page-1.comand-1.target-1
