.navigation.nav
  p FitnessCode
  ul
    li#intro-1
      a(href="#intro") 01
        span
    li.target-1
      a(href="#target") 02
        span
    li#space-1
      a(href="#space") 03
        span
    li#code-1
      a(href="#code") 04
        span
    li.team-1
      a(href="#team") 05
        span
  i.icon.icon-page-1.team-1.target-1
