section.code#code
  .container
    .row
      .col-xs-12
        .heading
          h2 Получи свой<br>код доступа
          p Индивидуальная карта для доступа к спорту, здоровью и релаксу. Единственный клуб в городе с техникой, которую только начали продавать.
      .col-md-7.col-sm-6.col-xs-12
        .code__get 
          img(src="img/card-2-copy.png" srcset="img/card-2-copy@2x.png 2x, img/card-2-copy@3x.png 3x")
          a(href="#pop-up" rel="modal:open").btn.btn-primary Получить код
      .col-md-5.col-sm-6.col-xs-12
        .code__info
          h4 Стартовый пакет:
          ul
            li Фитнес-тестирование
            li 3 персональне тренировки
            li Сеанс массажа
          h4 Неограниченное посещение:
          ul
            li Тренажерного зала
            li Кардиозоны
            li Бассейна
            li Групповых занятий
            li Соляной комнаты
            li Банного комплекса
