section.code#code(class=codeClass)
  .scene-3.scene-secondary(data-invert-x="false" data-invert-y="false")
    div(data-depth="0.2") КОД ДОСТУПА
  .container
    .row
      .col-xs-12
        .heading
          h2 Получи свой<br>код доступа
          p Индивидуальная карта для доступа к спорту, здоровью и релаксу. Единственный клуб в городе с техникой, которую только начали продавать.
      .col-md-7.col-sm-6.col-xs-12.last-xs
        .code__get 
          img(src="img/card-2-copy.png" srcset="img/card-2-copy@2x.png 2x, img/card-2-copy@3x.png 3x")
          a(href="#pop-up" rel="modal:open").btn.btn-primary
            i Получить код
      .col-md-5.col-sm-6.col-xs-12.last-sm
        .code__info
          h4 Стартовый пакет:
          ul
            li Фитнес-тестирование
            li 3 персональне тренировки
            li Сеанс массажа
          h4 Неограниченное посещение:
          ul
            li Тренажерного зала
            li Кардиозоны
            li Бассейна
            li Групповых занятий
            li Соляной комнаты
            li Банного комплекса
    .row
      .col-xs-12
        .code__social
          p Поделись кодом:
          .code__social__link
            a(href="#")
              i.icon.icon-vk
            a(href="#")
              i.icon.icon-fb
            a(href="#")
              i.icon.icon-instagram
            a(href="#")
              i.icon.icon-ok