section.contacts#contacts
  .container
    .row
      .col-xs-12
        .heading
          h2 Нас просто найти
        .contacts__block
          span Адрес
          a(href="#") Фрязино, ул. Нахимова, дом 1А
          .row
            .col-xs-6
              span Мобильный телефон
              a(href="tel:89067254300") 8 (906) 725-43-00
            .col-xs-6
              span Городской телефон
              a(href="tel:84962554300") 8 (496) 255-43-00
            .col-xs-6
              span Социальные сети
              .contacts__block__social
                a(href="#")
                  i.icon.icon-vk
                a(href="#")
                  i.icon.icon-fb
                a(href="#")
                  i.icon.icon-instagram
                a(href="#")
                  i.icon.icon-ok
                a(href="#")
                  i.icon.icon-yt
            .col-xs-6
              span Электронная почта
              a(href="mailto:info@fitnesscode.ru") info@fitnesscode.ru