section.intro#intro
  .container
    .row
      .col-xs-12
        .intro__content
          .swiper-container.swiper-intro
            .swiper-wrapper
              .swiper-slide
                span Программы персонального фитнеса  
                h2 Life coaching
                p Наша программа персональных тренировок способствует повышению качества жизни и даёт силы для реализации любой мечты.
                a(href="#").btn.btn-primary
                  i Подробнее
              .swiper-slide
                span Программы персонального фитнеса  
                h2 Life coaching
                p Наша программа персональных тренировок способствует повышению качества жизни и даёт силы для реализации любой мечты.
                a(href="#").btn.btn-primary Подробнее
          .swiper-button-prev.swiper-intro-left
            i.icon.icon-left
          .swiper-button-next.swiper-intro-right
            i.icon.icon-left