section.space
  .container
    .row
      .col-xs-12
        .heading
          h2 Пространство
          p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.