section.space#space(class=space)
  .container
    .row
      .col-xs-12
        .heading
          h2 Пространство
          p Четыре этажа спорта, здоровья и релакса для каждого. Единственный клуб в городе с техникой, которую только начали продавать.
  .space__slider
    .space__slider__mobile
      .space__floor
        a.first 3 этаж
      .space__floor__block.visibility
        .owl-carousel.owl-carousel-2(data-slider-id="1")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
        .swiper-container.swiper-space
          .swiper-wrapper.owl-thumbs(data-slider-id="1")
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
      .space__floor
        a 2 этаж
      .space__floor__block
        .owl-carousel.owl-carousel-2(data-slider-id="2")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
        .swiper-container.swiper-space
          .swiper-wrapper.owl-thumbs(data-slider-id="2")
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
      .space__floor
        a 1 этаж
      .space__floor__block
        .owl-carousel.owl-carousel-2(data-slider-id="3")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
        .swiper-container.swiper-space
          .swiper-wrapper.owl-thumbs(data-slider-id="3")
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
      .space__floor
        a.last -1 этаж
      .space__floor__block
        .owl-carousel.owl-carousel-2(data-slider-id="4")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
          .item(style="background-image: url(img/1.jpg)")
        .swiper-container.swiper-space
          .swiper-wrapper.owl-thumbs(data-slider-id="4")
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
            button.owl-thumb-item.swiper-slide
              .swiper-space__img
                img(src="img/page-2.svg", alt="")
              p Массажный кабинет
    .space__slider__content
      .tabs
        ul.tabs__caption
          li.active
            p 03
            span этаж
          li
            p 02
            span этаж
          li
            p 01
            span этаж
          li
            p -01
            span этаж
        .tabs__content.active
          .owl-carousel.owl-carousel-2(data-slider-id="1")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
          .container
            .swiper-container.swiper-space
              .swiper-wrapper.owl-thumbs(data-slider-id="1")
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
            .swiper-button-prev.swiper-space-left
              i.icon.icon-left
            .swiper-button-next.swiper-space-right
              i.icon.icon-left
        .tabs__content
          .owl-carousel.owl-carousel-2(data-slider-id="2")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
          .container
            .swiper-container.swiper-space
              .swiper-wrapper.owl-thumbs(data-slider-id="2")
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
            .swiper-button-prev.swiper-space-left
              i.icon.icon-left
            .swiper-button-next.swiper-space-right
              i.icon.icon-left
        .tabs__content
          .owl-carousel.owl-carousel-2(data-slider-id="3")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
          .container
            .swiper-container.swiper-space
              .swiper-wrapper.owl-thumbs(data-slider-id="3")
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
            .swiper-button-prev.swiper-space-left
              i.icon.icon-left
            .swiper-button-next.swiper-space-right
              i.icon.icon-left
        .tabs__content
          .owl-carousel.owl-carousel-2(data-slider-id="4")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
            .item(style="background-image: url(img/1.jpg)")
          .container
            .swiper-container.swiper-space
              .swiper-wrapper.owl-thumbs(data-slider-id="4")
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
                button.owl-thumb-item.swiper-slide
                  .swiper-space__img
                    img(src="img/page-2.svg", alt="")
                  p Массажный кабинет
            .swiper-button-prev.swiper-space-left
              i.icon.icon-left
            .swiper-button-next.swiper-space-right
              i.icon.icon-left