section.target#target
  .target__content
    .container
      .row
        .col-xs-12
          .heading
            h2 Мы хотим
        .col-xs-4
          .target__block
            .target__block__img
              img(src="img/heart-wt.svg", alt="")
            h4 Быть здоровыми
            p … и составляем программу индивидуальных тренировок только после фитнес-тестирования.
        .col-xs-4
          .target__block
            .target__block__img
              img(src="img/prime-wt.svg", alt="")
            h4 Получать лучшее
            p… и провели кастинг лучших мировых поставщиков, а кофе для фитнес-бара выбирали два месяца
        .col-xs-4
          .target__block
            .target__block__img
              img(src="img/innovation-wt.svg", alt="")
            h4 Опережать технологии
            p … и отбираем тренжеры по всему миру на выставках инноваций