section.team#team
  .team__content
    .container
      .row
        .col-xs-12
          .heading
            h2 Тренерский состав
            p Мы старались собрать универсальную команду, которая могла бы работать по всем востребованным сегментам фитнеса.
          .swiper
            .swiper-container.swiper-team
              .swiper-wrapper
                .swiper-slide
                  .team__block
                    a(href="#pop-up-trainer" rel="modal:open")
                      .team__block__img
                        img(src="http://via.placeholder.com/150x150", alt="")
                      h3 Арам Агаян
                    p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                    a(href="#pop-up-trainer-2" rel="modal:open").btn.btn-secondary Записаться
                .swiper-slide
                  .team__block
                    a(href="#pop-up-trainer" rel="modal:open")
                      .team__block__img
                        img(src="http://via.placeholder.com/150x150", alt="")
                      h3 Арам Агаян
                    p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                    a(href="#pop-up-trainer-2" rel="modal:open").btn.btn-secondary Записаться
                .swiper-slide
                  .team__block
                    a(href="#pop-up-trainer" rel="modal:open")
                      .team__block__img
                        img(src="http://via.placeholder.com/150x150", alt="")
                      h3 Арам Агаян
                    p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                    a(href="#pop-up-trainer-2" rel="modal:open").btn.btn-secondary Записаться
                .swiper-slide
                  .team__block
                    a(href="#pop-up-trainer" rel="modal:open")
                      .team__block__img
                        img(src="http://via.placeholder.com/150x150", alt="")
                      h3 Арам Агаян
                    p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                    a(href="#pop-up-trainer-2" rel="modal:open").btn.btn-secondary Записаться
                .swiper-slide
                  .team__block
                    a(href="#pop-up-trainer" rel="modal:open")
                      .team__block__img
                        img(src="http://via.placeholder.com/150x150", alt="")
                      h3 Арам Агаян
                    p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                    a(href="#pop-up-trainer-2" rel="modal:open").btn.btn-secondary Записаться
                .swiper-slide
                  .team__block
                    a(href="#pop-up-trainer" rel="modal:open")
                      .team__block__img
                        img(src="http://via.placeholder.com/150x150", alt="")
                      h3 Арам Агаян
                    p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                    a(href="#pop-up-trainer-2" rel="modal:open").btn.btn-secondary Записаться
                  