section.team--block(class=services)
  .team#team
    .team__content
      .container
        .row
          .col-xs-12
            .heading
              h2 Тренерский состав
              p Мы старались собрать универсальную команду, которая могла бы работать по всем востребованным сегментам фитнеса.
            .swiper
              .swiper-container.swiper-team
                .scene-primary.scene-4(data-invert-x="false" data-invert-y="false")
                  div(data-depth="0.2")  Тренерский Состав
                .swiper-wrapper
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-1" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Арам Агаян
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-2" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Антон Гавриленко
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-3" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Дмитрий Столбов
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-4" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Ирина Карпова
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-5" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Юрий Князев
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-6" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Алексей Коршиков
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-7" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Сергей Хаблиев
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-8" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Юлия Аникина
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-9" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Нина Бройтман
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-10" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Наталья Глебова
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-11" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Елена Дзилиева
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-12" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Ольга Некрасова
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-13" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Екатерина Саложенкова
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-14" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Руслана Филатова
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-15" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Инна Лягушева
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                  .swiper-slide
                    .team__block
                      a(href="#pop-up-trainer-16" rel="modal:open")
                        .team__block__img
                          img(src="img/trener.png", alt="")
                        .team__block__text
                          h3 Мила Иванова
                          p Составление индивидуальных программ питания и тренировок для снижения веса и набора мышечной массы
                      a(href="#pop-up-trainer" rel="modal:open").btn.btn-secondary
                        i Записаться
                    