.btn
  height: 70px
  display: block
  +center
  transform: skewX(-15deg)
  border-top-left-radius: 25px
  border-bottom-right-radius: 25px
  text-transform: uppercase
  line-height: 0.83
  letter-spacing: 1.5px
  font-size: 24px
  margin-left: 10px
  i
    transform: skewX(15deg)
    font-style: normal
  &-primary
    border: solid 2px $apple
    color: $apple
    width: 360px
  &-secondary
    border: solid 2px $white
    color: $white
    width: 100%