.footer
  background: $pine-green
  padding: 70px 0
  +r(767)
    padding-bottom: 20px
  &__logo
    max-width: 160px
    +r(767)
      position: relative
      left: 50%
      transform: translate(-50%)
      margin-bottom: 20px
    img
      width: 100%
  p
    font-family: 'SF Pro Text'
    font-size: 14px
    font-weight: normal
    font-style: normal
    color: $warm-grey
  &__social
    display: flex
    justify-content: center
    a
      margin-right: 20px
      color: $pale-olive
      i
        font-size: 23px
      &:last-child
        margin-right: 0
  a.policy
    font-family: 'SF Pro Text'
    font-size: 14px
    font-weight: normal
    font-style: normal
    color: $warm-grey
    text-align: center
    display: block
    +r(767)
      padding: 20px 0
  &__done
    display: flex
    flex-direction: column
    align-items: flex-end
    +r(767)
      align-items: center
      margin-top: 30px
    img
      height: 35px
      display: block
    p
      
      