.footer
  background: $black
  padding: 70px 0
  position: relative
  z-index: 11
  +r(767)
    padding-bottom: 20px
  &__content
    border-bottom: 1px solid $apple
    margin-bottom: 75px
  &__block
    max-width: 225px
    width: 100%
    margin-right: 10px
    margin-bottom: 40px
  &__top, &__bottom
    display: flex
    justify-content: space-between
    +r(1024)
      flex-wrap: wrap
    h4
      font-size: 24px
      font-weight: 600
      font-style: italic
      line-height: 1.42
      letter-spacing: 0.8px
      color: $apple
      margin-bottom: 20px
      a
        font-size: 24px
        font-weight: 600
        font-style: italic
        line-height: 1.42
        letter-spacing: 0.8px
        color: $apple
    li
      display: block
      padding: 8px 0
    a
      font-family: 'SF Pro Display'
      font-size: 18px
      font-weight: normal
      font-style: normal
      letter-spacing: 0.6px
      color: $pale-olive
      display: block
      line-height: 1.1
    li:hover
      color: rgba($apple, 0.4)
  &__logo
    max-width: 160px
    +r(767)
      position: relative
      left: 50%
      transform: translate(-50%)
      margin-bottom: 20px
    img
      width: 100%
  p
    font-family: 'SF Pro Text'
    font-size: 14px
    font-weight: normal
    font-style: normal
    color: $warm-grey
  &__social
    display: flex
    justify-content: center
    a
      margin-right: 20px
      color: $pale-olive
      i
        font-size: 23px
      &:last-child
        margin-right: 0
  a.policy
    font-family: 'SF Pro Text'
    font-size: 14px
    font-weight: normal
    font-style: normal
    color: $warm-grey
    text-align: center
    display: block
    +r(767)
      padding: 20px 0
  &__done
    display: flex
    flex-direction: column
    align-items: flex-end
    +r(767)
      align-items: center
      margin-top: 30px
    img
      height: 35px
      display: block
    p
      
      