.header
  background-image: radial-gradient(circle at 37% -1%, rgba($white, 0.1), rgba($black, 0.1))
  background-blend-mode: screen
  position: absolute
  height: 100px
  top: 0
  width: 100%
  display: flex
  align-items: center
  &__logo
    height: 50px
    img
      height: 50px
  .menu-open
    position: absolute
    left: 100px
    top: 50%
    transform: translate(0, -50%)
    i
      font-size: 26px
      color: $apple