.header
  background: url('../img/bg_top.png')
  background-repeat: no-repeat
  background-size: cover
  position: fixed
  height: 100px
  top: 0
  width: 100%
  display: flex
  align-items: center
  z-index: 11
  transition: all 0.3s
  .container
    max-width: 1100px
  &.bg
    background: url('')
  a, p
    font-size: 18px
    font-weight: normal
    font-style: italic
    color: $apple
    line-height: 30px
  &__block
    display: flex
    align-items: center
  &__services
    display: inline-flex
    position: relative
    +r(1024)
      display: none
    p
      cursor: pointer
      padding-right: 30px
      i
        font-size: 8px
        padding-left: 5px
    &__option
      display: none
      position: absolute
      top: 30px
      background: url('../img/bg_all.png')
      background-position: 50% 0
      padding: 10px 20px
      border-radius: 4px
      ul
        +center
        flex-direction: column
  ul
    display: flex
    justify-content: space-between
    +r(1024)
      display: none
    li
      i
        font-size: 14px
        padding-left: 10px
  &__logo
    height: 50px
    img
      height: 50px
      +r(767)
        height: 40px
  .menu-open
    width: 30px
    height: 30px
    margin-right: 50px
    display: inline-flex
    +r(767)
      left: 20px
      position: absolute
    &.active
      span
        background: transparent
        &:before
          width: 30px
          transform: rotate(315deg)
          top: 0
        &:after
          width: 30px
          transform: rotate(-315deg)
          top: 0
    span
      width: 15px
      height: 2px
      background: $apple
      display: block
      position: relative
      top: 15px
      &:before
        content: ''
        position: absolute
        width: 23px
        height: 2px
        top: -10px
        background: $apple
        left: 0
        transition: all 0.5s
      &:after
        content: ''
        position: absolute
        top: 10px
        width: 30px
        height: 2px
        background: $apple
        left: 0
        transition: all 0.5s
