html
body
  font-family: 'Uni Sans'
  font-size: 24px
  background: url('../img/bg_all.png')
  background-position: 50% 0
  font-style: italic
  overflow-x: hidden
  // -webkit-text-size-adjust: 100%
  // -ms-text-size-adjust: 100%
  // -webkit-font-smoothing: antialiased !important
  // text-rendering: optimizelegibility
  // -moz-osx-font-smoothing: grayscale
  box-sizing: border-box
.container
  width: 100% !important
  max-width: 920px
  box-sizing: border-box
  +r(1024)
    padding: 0 15px
a
  text-decoration: none

.out
  margin-top: 100px
h1
  font-weight: bold
  line-height: 1
  letter-spacing: 3px
  color: $white
  font-size: 100px
  padding-top: 20px
  margin-bottom: 85px
  +r(767)
    font-size: 50px
.heading
  h2
    font-size: 80px
    font-weight: bold
    font-style: italic
    color: $white
    margin-bottom: 40px
    +r(767)
      font-size: 45px
  &-secondary
    h2
      color: $apple
  p
    font-size: 30px
    font-weight: normal
    font-style: italic
    line-height: 1.33
    letter-spacing: 1px
    color: $pale-olive
    margin-bottom: 60px
    +r(767)
      font-size: 20px