html
body
  font-family: 'Uni Sans'
  font-size: 24px
  background: url('../img/bg_all.png')
  background-position: 50% 0
  font-style: italic
  overflow-x: hidden
  // -webkit-text-size-adjust: 100%
  // -ms-text-size-adjust: 100%
  // -webkit-font-smoothing: antialiased !important
  // text-rendering: optimizelegibility
  // -moz-osx-font-smoothing: grayscale
  box-sizing: border-box
  +r(767)
    hyphens: auto
.container
  width: 100% !important
  max-width: 920px
  box-sizing: border-box
  +r(1024)
    padding: 0 15px
.container-two
  width: 100% !important
  max-width: 1120px
  box-sizing: border-box
  margin: 0 auto
  +r(1024)
    padding: 0 15px
a
  text-decoration: none
  cursor: pointer
.out
  margin-top: 100px
  +r(767)
    margin-top: 60px
h1
  font-weight: bold
  line-height: 1
  letter-spacing: 3px
  color: $white
  font-size: 100px
  padding-top: 20px
  margin-bottom: 85px
  +r(767)
    font-size: 50px
    margin-top: 50px
.heading
  h2
    font-size: 80px
    font-weight: bold
    font-style: italic
    color: $white
    margin-bottom: 40px
    display: inline-block
    +r(767)
      font-size: 45px
  &-secondary
    h2
      color: $apple
  p
    font-size: 30px
    font-weight: normal
    font-style: italic
    line-height: 1.33
    letter-spacing: 1px
    color: $pale-olive
    margin-bottom: 60px
    display: block
    +r(767)
      font-size: 20px
.all-news
  font-size: 18px
  font-weight: normal
  font-style: normal
  letter-spacing: 0.6px
  color: $pale-olive
  text-decoration: underline

.out
  overflow: hidden

+r(767)
	.hidden-xs
		display: none !important
@media only screen and (min-width: 768px) and (max-width: 1200px)
	.hidden-sm
		display: none !important
+rmin(1200)
	.hidden-md
		display: none !important




.team__block
  &.team-page__block
    margin-bottom: 25px
    p
      margin-bottom: 35px
      color: $pale-olive
    h3
      max-width: 100%
    .team__block__text
      min-height: 100%
  a
    display: flex
    flex-direction: column
    align-items: center
  &__img
    overflow: hidden
    width: 200px
    height: 200px
    border-radius: 50%
    margin-bottom: 40px
    img
      width: 100%
      height: 100%
  &__text
    min-height: 280px
    display: flex
    flex-direction: column
    align-items: center
  h3
    font-size: 40px
    font-weight: bold
    font-style: italic
    line-height: 1.15
    letter-spacing: 1.3px
    color: $white
    margin-bottom: 15px
    text-align: center
    max-width: 240px
  p
    font-family: 'SF Pro Text'
    font-size: 17px
    font-weight: normal
    font-style: normal
    line-height: 1.44
    text-align: center
    color: $charcoal
    margin-bottom: 55px
    min-height: 110px
          
.selectize-input
  background: transparent
  border: none
  box-shadow: none
  border-bottom: 2px solid $apple
  padding: 0
  padding-bottom: 3px
  transition: all 0.3s
  border-radius: 0
  &:after
    transition: all 0.3s
  &.input-active
    box-shadow: none
  input
    display: none !important
.selectize-input.full
  background: transparent
.selectize-dropdown
  border: 1px solid $apple
  border-top: none
  z-index: 22
.selectize-input>*, .selectize-dropdown [data-selectable]
  font-family: 'Uni Sans'
  font-size: 24px
  font-weight: 600
  font-style: italic
  line-height: 1.42
  letter-spacing: 0.8px
  color: $apple
  +r(767)
    font-size: 18px
.selectize-dropdown .active
  background: rgba($apple, 0.5)
  color: $apple
.selectize-control.single .selectize-input:after
  content: '\EA02'
  border: none
  font-family: 'iconfont'
  color: $apple
  font-size: 8px
  font-style: normal
  top: 30%
  display: block
  width: 8px
  height: 8px
.selectize-control.single .selectize-input.dropdown-active:after
  transform: rotate(180deg)
  top: 50%
.selectize-control.single .selectize-input.input-active, .selectize-input
  background: none






.scene-primary, .scene-secondary
  position: absolute
  top: 300px
  left: 0
  width: 100%
  z-index: -1
  +r(767)
    display: none
  div
    display: block
    font-size: 350px !important
    font-weight: 900
    font-style: italic
    font-stretch: normal
    line-height: 0.9
    text-transform: uppercase
.scene
  +r(1024)
    display: none
  &-primary
    div
      color: rgba($nasty-green, 0.7)
  &-secondary
    div
      color: rgba($black-three, 0.7)
  &-1
    top: 50px
    div
      font-size: 300px !important
  &-4
    top: 0px
  &-5
    top: 150px




.breadcrumbs
  position: fixed
  left: 30px
  bottom: 0
  transform-origin: 0px 0px
  transform: rotate(-90deg)
  z-index: 9
  display: flex
  justify-content: center
  width: calc(100vh - 100px)
  +r(767)
    display: none
  a
    font-size: 12px
    font-weight: normal
    font-style: normal
    color: $apple
    position: relative
    padding-right: 10px
    margin-right: 7px
    cursor: pointer
    &:before
      content: '/'
      display: block
      position: absolute
      right: 0px
      top: 0
    &:last-child
      color: $pale-olive
      cursor: default
      &:before
        content: ''
